Joey Thewes - Instagram Likes Posts Data
    
1) The source of the data is from posts that I liked throughout how long I have had instagram.
    
2) This data was created to provide a visual representation for the account names of the posts that I like on instagram, as well as to show the timestamp I liked it at. This data can serve the purpose of showing me who's accounts I liked posts on, and later in the projects the data can show me how many times I have liked a certain accounts post
    
3) This data can be reliable to help show me the accounts that I have liked.
    
4) The base data before I find out how many times I have liked certain accounts posts is very broad, and the timestamp column is not very helpful as I am not too sure on what the numbers that it provides represent.

In [1]:
import json
import pandas as pd

In [2]:
path = r"C:\Users\Joey\data-EMAT-fa24\liked_posts.json"
with open(path) as j:
    likes = json.load(j)

In [3]:
likes.keys()

dict_keys(['likes_media_likes'])

In [4]:
likes_df = pd.DataFrame(likes['likes_media_likes'])
likes_df.head()

                  title                                   string_list_data
0           churbumgirl  [{'href': 'https://www.instagram.com/p/C_BsG6S...
1           churbumgirl  [{'href': 'https://www.instagram.com/p/C_GUBCc...
2               bengals  [{'href': 'https://www.instagram.com/p/C_GUywm...
3      isabella.gambone  [{'href': 'https://www.instagram.com/p/C_Jw26u...
4  masonsteele.yourgirl  [{'href': 'https://www.instagram.com/p/C_HXdxZ...

In [5]:
likes_df_tidy = likes_df.drop(columns = ['string_list_data'])

In [6]:
#likes_df_tidy

In [7]:
likes_df.keys()

Index(['title', 'string_list_data'], dtype='object')

In [8]:
likes_df['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/C_BsG6SPPyO/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1724769953}]

In [9]:
type(likes_df['string_list_data'].iloc[0])

list

In [10]:
len(likes_df['string_list_data'].iloc[0])

1

In [11]:
likes_df['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/p/C_BsG6SPPyO/',
 'value': 'รฐ\x9f\x91\x8d',
 'timestamp': 1724769953}

In [12]:
type(likes_df['string_list_data'].iloc[0][0])

dict

In [13]:
likes_df['string_list_data'].iloc[0][0]['timestamp']

1724769953

In [ ]:
[x for x in likes_df['string_list_data']]

In [ ]:
[x[0] for x in likes_df['string_list_data']]

In [ ]:
[x[0]['timestamp'] for x in likes_df['string_list_data']]

In [17]:
likes_df_tidy['timestamp'] = [+x[0]['timestamp'] for x in likes_df['string_list_data']]

In [18]:
likes_df_tidy.head(11)

                   title   timestamp
0            churbumgirl  1724769953
1            churbumgirl  1724734514
2                bengals  1724734510
3       isabella.gambone  1724734461
4   masonsteele.yourgirl  1724712118
5          yash.jagtap__  1724712093
6            churbumgirl  1724686965
7            churbumgirl  1724686939
8                joeyb_9  1724557070
9        emily.jones.007  1724557050
10                   nfl  1724422952

Hypothesis:

My hypothesis that could be tested with some more of my personal data is to try to see if I can find out more data about my followers, as well as expand the table to include more information that can also be more helpful.

The theoretical elements of my hypothesis are whether or not I am able to add more columns to my table with more information

The statistical elements of my hypothesis are the collection of the account data and the amount of whatever I am collecting

In [19]:
likes_df2 = pd.DataFrame(x[0] for x in likes_df['string_list_data'])

In [20]:
likes_df2

                                          href value   timestamp
0     https://www.instagram.com/p/C_BsG6SPPyO/  รฐยยย  1724769953
1     https://www.instagram.com/p/C_GUBCcOeUq/  รฐยยย  1724734514
2     https://www.instagram.com/p/C_GUywmPppt/  รฐยยย  1724734510
3     https://www.instagram.com/p/C_Jw26uskSr/  รฐยยย  1724734461
4     https://www.instagram.com/p/C_HXdxZM0_X/  รฐยยย  1724712118
...                                        ...   ...         ...
1433  https://www.instagram.com/p/BWoYcnWgSlZ/  รฐยยย  1500936364
1434  https://www.instagram.com/p/BWu2HF3AJGs/  รฐยยย  1500936333
1435  https://www.instagram.com/p/BWygmaEDZJy/  รฐยยย  1500936314
1436  https://www.instagram.com/p/BW5dGn7jHR-/  รฐยยย  1500936311
1437  https://www.instagram.com/p/BW6QksaAidl/  รฐยยย  1500936297

[1438 rows x 3 columns]

In [21]:
likes_df2['title'] = likes_df['title']
likes_df2.head()

,href,value,timestamp,title
0,https://www.instagram.com/p/C_BsG6SPPyO/,รฐยยย,1724769953,churbumgirl
1,https://www.instagram.com/p/C_GUBCcOeUq/,รฐยยย,1724734514,churbumgirl
2,https://www.instagram.com/p/C_GUywmPppt/,รฐยยย,1724734510,bengals
3,https://www.instagram.com/p/C_Jw26uskSr/,รฐยยย,1724734461,isabella.gambone
4,https://www.instagram.com/p/C_HXdxZM0_X/,รฐยยย,1724712118,masonsteele.yourgirl

In [22]:
likes_df2.groupby('title').count().sort_values('timestamp', ascending = False).head(10)

                         href  value  timestamp
title
bengals                   164    164        164
nfl                        76     76         76
ppppppppppqqqqqqqqpqqpq    58     58         58
indie_the_ween             35     35         35
dudeperfect                25     25         25
espn                       21     21         21
jenna_cassidy_5            20     20         20
harryflorals               19     19         19
lilyan_ronske              18     18         18
keister__                  17     17         17

In [23]:
likes_df_tidy.groupby('title').count().sort_values('timestamp', ascending = False)

                         timestamp
title
bengals                        164
nfl                             76
ppppppppppqqqqqqqqpqqpq         58
indie_the_ween                  35
dudeperfect                     25
...                            ...
kentstatebands                   1
kentstatechicks                  1
kentstatedean                    1
kentstathletics                  1
beaglesdaily                     1

[335 rows x 1 columns]

In [24]:
path = r"C:\Users\Joey\data-EMAT-fa24\following.json"
with open(path) as c:
    foll = json.load(c)

In [25]:
foll.keys()

dict_keys(['relationships_following'])

In [26]:
foll_df = pd.DataFrame(foll['relationships_following'])

In [27]:
foll_df.head()

  title media_list_data                                   string_list_data
0                    []  [{'href': 'https://www.instagram.com/yash.jagt...
1                    []  [{'href': 'https://www.instagram.com/kourt_leo...
2                    []  [{'href': 'https://www.instagram.com/a.nniewhi...
3                    []  [{'href': 'https://www.instagram.com/_esthetic...
4                    []  [{'href': 'https://www.instagram.com/stelmascz...

In [28]:
foll_df['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/yash.jagtap__',
  'value': 'yash.jagtap__',
  'timestamp': 1723482833}]

In [29]:
foll_df_tidy = foll_df.drop(columns = ['string_list_data', 'media_list_data'])

In [30]:
foll_df_tidy

    title
0
1
2
3
4
..    ...
436
437
438
439
440

[441 rows x 1 columns]

In [31]:
foll_df_tidy['Account Name'] = [x[0]['value'] for x in foll_df['string_list_data']]
foll_df_tidy['Account Link'] = [x[0]['href'] for x in foll_df['string_list_data']]
foll_df_tidy['Timestamp'] = [+x[0]['timestamp'] for x in foll_df['string_list_data']]

In [32]:
foll_df_tidy.head(11)

,title,Account Name,Account Link,Timestamp
0,,yash.jagtap__,https://www.instagram.com/yash.jagtap__,1723482833
1,,kourt_leonard,https://www.instagram.com/kourt_leonard,1720904032
2,,a.nniewhite,https://www.instagram.com/a.nniewhite,1720889727
3,,_estheticsbytaylor_,https://www.instagram.com/_estheticsbytaylor_,1719277333
4,,stelmasczuk.n,https://www.instagram.com/stelmasczuk.n,1716935468
5,,kaylaisanidiot,https://www.instagram.com/kaylaisanidiot,1716935390
6,,ky.casenhi,https://www.instagram.com/ky.casenhi,1716935390
7,,jasperwyd,https://www.instagram.com/jasperwyd,1716935385
8,,_.bwightman._,https://www.instagram.com/_.bwightman._,1716732034
9,,a.b.b.y.al,https://www.instagram.com/a.b.b.y.al,1716727078
10,,elainajackson_,https://www.instagram.com/elainajackson_,1715956186

Final Thoughts

1) I feel that the data in this DataFrame represents the people who I follow, as well as the web link to their instagram account and the timestamp that I followed them at.

2) I feel as though this DataFrame meets tidy principles, a the data is very easily readable, including custom headings that describe the different information that the table is representing.

3) I feel this data is a very accurate representation of my hypothesis, as I was able to use it to create a more thorough table with more data with clear and concise labels.

4) The main part of the data that is still confusing to me is the Timestamp label, as I don't fully understand what the numbers that the Timestamp gives mean, and I am curious to see if there is a way that we can translate the data that it gives to a more readable output.

5) Overall, it is really cool to be able to see how my data translates into code and my favorite part about this was probably getting to see the amount of posts I have liked from specific accounts.